<?xml version="1.0" encoding="UTF-8"?>
<configuration 
    debug="true" packagingData="true" scan="true" scanPeriod="60 seconds">

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </layout>
    </appender>

	<logger name="org.springframework" level="debug" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="it.tsc" level="debug" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>
	
    <logger name="it.tsc.controller.endpoint.AllarmGenerator" level="error" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>
	
<!-- 	<logger name="org.apache.cxf" level="debug" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger> -->
	
<!-- 	<logger name="com.datastax.driver.core.QueryLogger.NORMAL" level="debug" >
		<appender-ref ref="STDOUT" />
	</logger> -->

	<root level="info">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>