<beans:beans 
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-2.5.xsd">
	
<beans:bean id="bcryptEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" />
<beans:bean id="customAuthenticationProvider"  class="it.tsc.component.CustomAuthenticationProvider"/>
<beans:bean id="authSuccessHandler"  class="it.tsc.security.handler.AuthSuccessHandler"/>
<beans:bean id="customLogoutHandler"  class="it.tsc.security.handler.CustomLogoutHandler"/>
   
<beans:bean id="customAccessDeniedHandler"
	class="it.tsc.security.handler.CustomAccessDeniedHandler">
	<beans:property name="errorPage" value="/tscSpringMVC/403" />
</beans:bean>

<beans:bean id="entityManagerFactory"
	class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
	<beans:property name="persistenceUnitName" value="cassandra_pu" />
</beans:bean>

<beans:bean id="sharedEntityManager" class="org.springframework.orm.jpa.support.SharedEntityManagerBean">
	<beans:property name="entityManagerFactory" ref="entityManagerFactory"/>
</beans:bean>
	
</beans:beans>