<beans:beans 
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:ws="http://jax-ws.dev.java.net/spring/core"
    xmlns:wss="http://jax-ws.dev.java.net/spring/servlet"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-2.5.xsd
    http://jax-ws.dev.java.net/spring/core
    http://jax-ws.java.net/spring/core.xsd
    http://jax-ws.dev.java.net/spring/servlet
    http://jax-ws.java.net/spring/servlet.xsd">
	
<beans:bean id="bcryptEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" />
<beans:bean id="customAuthenticationProvider"  class="it.tsc.component.CustomAuthenticationProvider"/>
<beans:bean id="authSuccessHandler"  class="it.tsc.security.handler.AuthSuccessHandler"/>
<beans:bean id="customLogoutHandler"  class="it.tsc.security.handler.CustomLogoutHandler"/>
   
<beans:bean id="customAccessDeniedHandler"
	class="it.tsc.security.handler.CustomAccessDeniedHandler">
	<beans:property name="errorPage" value="/tscSpringMVC/403" />
</beans:bean>

<beans:bean id="entityManagerFactory"
	class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
	<beans:property name="persistenceUnitName" value="cassandra_pu" />
</beans:bean>

<!-- <beans:bean id="sharedEntityManager" class="org.springframework.orm.jpa.support.SharedEntityManagerBean">
	<beans:property name="entityManagerFactory" ref="entityManagerFactory"/>
</beans:bean> -->

<!-- SOAP header handler -->
<beans:bean id="soapHandler" class="it.tsc.webservice.handler.SOAPHeaderHandler">
    <beans:property name="username" value="testUser"/>
    <beans:property name="password" value="testPassword"/>
</beans:bean>

<!-- ws declaration -->
<wss:binding url="/services/TscWebService">
    <wss:service>
        <ws:service bean="#allarmServiceWS"/>
    </wss:service>
</wss:binding>

<!-- Web service methods -->
<beans:bean id="allarmServiceWS" class="it.tsc.webservice.TscWebService" />
	
</beans:beans>